<footer class="footer">
    <div class="container">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span> About the Gamer Zone</span> gamer zone is a project by James Bishop, a 3rd year software development student at IT Sligo. this project was done for open stack developemnt.
        gamer zone is a way for people to search for video games and then if they wish leave a review about them.
      </p>
      
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span> Ash Ln, Bellanode,</span> Sligo, F91 YW50</p>
      </div>
       
      
      <div>
        <i class="fa fa-envelope"></i>
        <p class="name"> bishbashbosh51@hotmail.com</p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <h2> Gamer<span> Zone</span></h2>
      
      <p class="name"> Gamer Zone &copy; 2021</p>
    </div>
</div>
  </footer>