<div class="container" >
    <p class="text-center">{{reviewData.title}}</p>
    <div class="row border">
        
        <div class="col-md-6 ">
            <div class="form-group">
                Game Name: {{reviewData.name}}
            </div>
            <div class="form-group">
                Review Score: {{reviewData.score}}
            </div>
            <div class="form-group">
                reviewer: {{reviewData.reviewer}}
            </div>
            
    
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {{reviewData.review}}
        </div>
        </div>
    </div>
    
    
    
        
    </div>
    